@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&family=Quattrocento+Sans:wght@400;700&display=swap');

:root {
    --off-white--: rgba(252, 251, 254, 1);
    --pri-color--: rgba(212, 106, 106, 1);
    --sec-color--: rgba(12, 22, 79, 0.9);
    --ter-color--: rgba(186, 30, 104, 1);
    --off-grey--: rgba(117, 105, 110, 1);
    --dark-color--: rgba(36, 31, 33, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    Font-Family: 'Quattrocento', Serif;
    Font-Size: 16px;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

/*********************************
******  HEADER & NAVIGATION ******
*********************************/

.title-bar {
    display: grid;
    align-items: center;
    min-height: 8vh;
    background-color: var(--dark-color--);
    grid-template-columns: 110px auto 110px;
    grid-template-rows: 100%;
}

.burger {
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--off-white--);
    margin: 5px;
}

.logo {
    display: flex;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
}

.logo > img {
    width: 50px;
    height: 50px;
}

h4 {
    Font-Family: 'Oswald', Sans-Serif;
    Font-Size: 24px;
    color: var(--off-white--);
    align-self: center;
}

.social {
    width: 110px; 
    grid-column: 3 / 4;
    display: flex;
    justify-self: center;
}

.social-icon {
    color: var(--off-white--);
    padding: 0 10px;
}

.nav-links {
    width: 100vw;
    display: flex;
    background-color: transparent;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    padding: 20px;
}

.nav-link > a {
    color: var(--off-grey--);
    Font-Family: 'Oswald', Sans-Serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.nav-link:hover {
    background-color: var(--off-white--);
}

@media screen and (max-width: 760px) {
    body {
        overflow-x: hidden;
    }
    
    .title-bar {
        grid-template-columns: 60px auto 60px;
    }
    
    .burger {
        display: inline;
        cursor: pointer;
    }

    h4 {
        font-size: 20px;
    }

    .social {
        display: none;
    }

    .nav-links {
        position: absolute;
        left: 0;
        height: 93vh;
        top: 7vh;
        background-color: var(--dark-color--);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 40px;
        transform: translateX(-100%);
        transition: transform 0.25s ease-in;
    }

    .nav-link > a {
        color: var(--off-white--);
        opacity: 0;
    }    
}

.nav-active {
    transform: translateX(0%);
}

@keyframes nav-link-fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/***********************************
******  MAIN BODY PREPERATION ******
***********************************/

.main-bg {
    background-color: rgba(227, 194, 203, 0.6);
    background-image: url("cupcake.png");
    background-size: 15vh;
    min-height: 95vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*
.main {
    width: 70vw;
    height: 100vh;
    background-color: white;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
*/





