@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&family=Oswald:wght@300;400;500;700&display=swap');

:root {
    --off-white--: rgba(252, 251, 254, 1);
    --pri-color--: rgba(216, 182, 196, 1);
    --sec-color--: rgba(226, 202, 211, 1);
    --ter-color--: rgba(199, 156, 174, 1);
    --quad-color--: rgba(183, 131, 152, 1);
    --off-grey--: rgba(117, 105, 110, 1);
    --dark-color--: rgba(36, 31, 33, 1);
    --green-color--: rgba(85,146,85,1);
    --blue-color--: rgba(94,130,130,1);
    --lime-color--: rgba(183, 202, 147, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    Font-Size: 16px;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

/*********************************
******  HEADER & NAVIGATION ******
*********************************/

.title-bar {
    display: grid;
    align-items: center;
    min-height: 8vh;
    background-color: var(--dark-color--);
    grid-template-columns: 160px auto 160px;
    grid-template-rows: 100%;
    z-index: 3;
}

.burger {
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--off-white--);
    margin: 5px;
    transition: all 0.3s ease;
}

.logo {
    display: flex;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
}

.logo > img {
    width: 50px;
    height: 50px;
    align-self: center;
    margin: 0 1em;
}

h1 {
    Font-Family: 'Oswald', Sans-Serif;
    Font-Size: 24px;
    color: var(--off-white--);
    align-self: center;
}

.social {
    width: 110px; 
    grid-column: 3 / 4;
    display: flex;
    justify-self: center;
    justify-content: space-between;
}

.social-icon {
    color: var(--off-white--);
    padding: 0 10px;
}

.nav-links {
    width: 100vw;
    display: flex;
    background-color: transparent;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    padding: 20px;
}

.nav-link > a {
    color: var(--off-grey--);
    Font-Family: 'Oswald', Sans-Serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px;
    border-bottom: 3px solid transparent;
}

.nav-link > a:hover {
    border-bottom: 3px solid var(--ter-color--);
}

@media screen and (max-width: 760px) {
    body {
        overflow-x: hidden;
    }
    
    .title-bar {
        grid-template-columns: 60px auto 60px;
    }
    
    .burger {
        display: inline;
        cursor: pointer;
    }

    h4 {
        font-size: 20px;
    }

    .social {
        display: none;
    }

    .nav-links {
        position: absolute;
        z-index: 2;
        left: 0;
        height: 100vh;
        width: 150px;
        top: 7vh;
        background-color: var(--dark-color--);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 40px;
        transform: translateX(-100%);
        transition: transform 0.25s ease-in;
    }

    .nav-link > a {
        color: var(--off-white--);
        opacity: 0;
    }    
}

.nav-active {
    transform: translateX(0%);
}

@keyframes nav-link-fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.burger-state .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-state .line2 {
    opacity: 0;
}

.burger-state .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/***********************************
******  MAIN BODY PREPERATION ******
***********************************/

.main-bg {
    background-color: rgba(227, 194, 203, 0.6);
    background-image: url("images/cupcake.png");
    background-size: 15vh;
    min-height: 95vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******************************************
******  Home Section - Contact Card ******
******************************************/

#home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.tack {
    position: relative;
    width: 40px;
}

.card {
    display: flex;
    -webkit-box-shadow: -2px 4px 12px -2px #000000; 
    box-shadow: -2px 4px 12px -2px #000000;
}

.about-card {
    background-color: var(--off-white--);
    max-width: 560px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    margin: 2rem;
}

.profile-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profile-main {
    padding: 0 25px;
}

#nicola {
    width: 125px;
    height: auto;
    border-radius: 50%;
    border: 5px solid var(--quad-color--);
    margin-bottom: 1rem;
}

.card-social {
    display: flex;
    width: 125px;
}

.card-social i {
    color: var(--off-grey--);
    margin: 0 2px;
}

.profile-name {
    color: var(--quad-color--);
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: 1px;
    margin: 1rem;
}

.profile-name::after {
    content: "";
    display: block;
    height: 1px;
    width: 2em;
    background-color: var(--pri-color--);
    margin: 0.5em auto;
    opacity: 0.6;
}

.profile-position {
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: 2px;
    color: var(--off-grey--);
    margin: 1em;

}

.profile-body {
    font-weight: 300;
    opacity: 0.8;
    color: var(--off-grey--);
    margin: 1rem;
}

@media screen and (min-width: 566px) {
    .about-card {
        flex-direction: row;
        padding: 2rem 0;
    }

    .profile-main {
        text-align: left;
    }

    .profile-name::after {
        margin-left: 0;
    }

    .tack {
        bottom: 110px;
        left: 270px;
    }
}

/******************************************
******  Home Section - Catergory Cards ******
******************************************/

.catergory-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.catergory-card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--off-white--);
    width: 300px;
    height: 400px;
    margin: 2rem;
    border-radius: 40px;
}

@media screen and (min-width: 834px) and (max-width: 1454px) {
    .catergory-card {
        margin: 2rem 7vw;
    }
}

.cat-tack {
    position: absolute;
    width: 40px;
    right: 130px;
    top: 8px;
}

@media screen and (max-width: 414px) {
    .cat-tack {
        display: none;
    }
}

.cat-image {
    width: 300px;
    height: 250px;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cat-card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 40px;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: -20px;
    color: var(--off-white--);
}

.cat-card-btn:hover {
    cursor: pointer;
}

.cat-card-content {
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 300;
    color: var(--dark-color--);
}

.cat-wedding .cat-image {
    background-image: url("images/wedding.jpg");
}

.cat-wedding .cat-card-btn {
    background-color: var(--quad-color--);
    border: 2px solid var(--quad-color--);
}

.cat-wedding .cat-card-btn:hover {
    color: var(--quad-color--);
}

.cat-birthday .cat-image {
    background-image: url("images/dinosaur.jpg");
}

.cat-birthday .cat-card-btn {
    background-color: var(--green-color--);
    border: 2px solid var(--green-color--);
}

.cat-birthday .cat-card-btn:hover {
    color: var(--green-color--);
}

.cat-occasion .cat-image {
    background-image: url("images/occasion.jpg");
}

.cat-occasion .cat-card-btn {
    background-color: var(--blue-color--);
    border: 2px solid var(--blue-color--);
}

.cat-occasion .cat-card-btn:hover {
    color: var(--blue-color--);
}

.cat-cookie .cat-image {
    background-image: url("images/giant-cookie.jpg");
}

.cat-cookie .cat-card-btn {
    background-color: var(--lime-color--);
    border: 2px solid var(--lime-color--);
}

.cat-cookie .cat-card-btn:hover {
    color: var(--lime-color--);
}

.cat-card-btn:hover {
    background-color: var(--off-white--);
}