{% extends "cakes/base.html" %}

{% load static %}

{% block body %}
    
    <main>
        <section id="contact-lead">
            <div class="card about-card">
              <img src="{% static 'cakes/images/tack.svg' %}" alt="tack" class="tack">
              <div class="profile-sidebar">
                <img id="nicola" src="{% static 'cakes/images/avatar.png' %}" alt="nicola">
                <div class="social card-social">
                  <a aria-label="instagram" href="https://www.instagram.com/ebl_cake/"><i class="social-icon fab fa-instagram"></i></a>
                  <a aria-label="facebook" href="https://www.facebook.com/EBLcake"><i class="social-icon fab fa-facebook-f"></i></a>
                  <a aria-label="pinterest" href="#"><i class="social-icon fab fa-pinterest-p"></i></a>
                </div>
              </div>
              <div class="profile-main">
                <h2 class="profile-name">Nicola Stewart</h2>
                <p class="profile-position">Cake Maker Extraordinaire</p>
                <p class="profile-body">Creator of luxury, modern wedding & celebration cakes. Fusing exceptional design, exquisite craftsmanship and the finest ingredients, I put love and care into every bite.</p>
              </div>  
            </div>
    </main>

{% endblock %}